@import './vars.scss';
:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-header {
  grid-area: header;
}
.app-sidebar {
  grid-area: sidebar;
  border-right: 1px solid map-get($color-palette, flt-primary);
}
.app-result {
  grid-area: result;
}

.app-container {
  display: grid;
  grid-template-columns: 30fr 5fr 65fr;
  grid-template-rows: 5fr 65fr;
  grid-template-areas:
  "header header header"
  "sidebar . result";

  @media only screen and (max-width: 768px) {
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
    "header"
    "sidebar"
    "result";
  }
}
